<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Swiggy App">
    <test name="Regression">
         <classes>
             <class name="com.seleniumcloud.test.SeleniumCloudTest"/>             
          </classes>
     </test> 
</suite> 